<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="mailto:spsharan2000@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/sharan-sp/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/Syzygianinfern0"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Reddit" target="_blank" href="https://www.reddit.com/user/Syzygianinfern0"><i class="icon fa fa-reddit-alien" aria-hidden="true"></i></a>
        <a aria-label="My Telegram" target="_blank" href="https://t.me/Syzygianinfern0"><i class="icon fa fa-telegram" aria-hidden="true"></i></a>
        <a aria-label="My WhatsApp" target="_blank" href="mailto:spsharan2000@gmail.com?subject=Can I have your WhatsApp?"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/sharan.sp.524"><i class="icon fa fa-facebook-square" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/sharansp2000"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
